@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-muted: #555555;
  --border: #dddddd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-border: var(--border);
  --animate-hscroll: hscroll 20s linear infinite;
  --font-neueMontreal: "Neue Montreal", Helvetica, sans-serif;

  @keyframes hscroll {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
}

.dark {
  --background: #141414;
  --foreground: #ededed;
  --foreground-muted: #a3a3a3;
  --border: #4b4b4b;
}

.isolate {
  isolation: isolate;
}

/* Font styling  */

html {
  scroll-behavior: smooth;
  font-size: clamp(14px, 1vw, 22px);
}

h1 {
  font-size: 9rem;
  line-height: 1;
}

h4 {
  font-size: 2rem;
  line-height: 1;
}

p {
  font-size: 1.375rem;
  line-height: 1.5;
}

/* Mobile h1 scaling  */

@media (max-width: 640px) {
  h1 {
    font-size: 5rem;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Neue Montreal", Helvetica, sans-serif;
}

.link {
  transition-property: color, background-color;
  transition-duration: 200ms;
}

/* Custom cursor settings */
* {
  cursor: none !important;
}

/* Style for react-clock  */
.react-clock__hour-hand__body,
.react-clock__minute-hand__body {
  transition: backgroundColor;
  transition-duration: 500ms;
  background-color: white !important;
}

.react-clock__second-hand__body {
  transition: backgroundColor;
  transition-duration: 500ms;
  background-color: cyan !important;
}

/* dark mode color for seconds hand */
.dark .react-clock__second-hand__body {
  transition: backgroundColor;
  transition-duration: 500ms;
  background-color: red !important;
}

.react-clock__face {
  border: none !important;
}

/* Selection text and background color  */

::-moz-selection {
  /* Code for Firefox */
  color: var(--background);
  background: var(--foreground);
}

::selection {
  color: var(--background);
  background: var(--foreground);
}

/* Import Neue Montreal font  */
@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

/* Mono  */

@font-face {
  font-family: "Neue Montreal Mono";
  src: url("/fonts/NeueMontrealMono-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal Mono";
  src: url("/fonts/NeueMontrealMono-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal Mono";
  src: url("/fonts/NeueMontrealMono-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal Mono";
  src: url("/fonts/NeueMontrealMono-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal Mono";
  src: url("/fonts/NeueMontrealMono-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Neue Montreal Mono";
  src: url("/fonts/NeueMontreal-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
